<% /* %>
 * Author: Kwok Wing Tang
 * File: bottom_nav.ejs
 * Date: 2023-09-27
<% */ %>
<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-16 navbar-text">&copy;2023 All rights reserved.</h6>
    </div>
    </nav>
  

      </footer>