<% /* %>
 * Author: Kwok Wing Tang
 * File: footer.ejs
 * Date: 2023-09-27
<% */ %>
<script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>