<% /* %>
 * Author: Kwok Wing Tang
 * File: main_nav.ejs
 * Date: 2023-09-27
<% */ %>
<!--Main Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!-- Top Navigation Menu -->
<script>
  function myFunction() {
    var x = document.getElementById("myLinks");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  </script>
   
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
    <img src="/assets/logo.png" alt="logo" style: width="100px"; height="100px">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
      <b>
        <ul class="navbar-nav ml-auto">

          <% if (title=="Home") { %>
        <li class="nav-item active">
        <a class="nav-link active"  aria-content=page href="/"><i class="fa-solid fa-house-chimney-window fa-bounce"></i>Home </a>
          <% } else { %>
            <li class="nav-item">
            <a class="nav-link"  aria-content=page href="/"><i class="fa-solid fa-house-chimney-window"></i>Home </a>
              <% } %>
          
        </li>

         <% if (title=="About Me") { %>
        <li class="nav-item active">
        <a class="nav-link active"  href="/about"><i class="fas fa-user-tie fa-bounce"></i>About </a>
          <% } else { %>
            <li class="nav-item">
            <a class="nav-link"  href="/about"><i class="fas fa-user-tie"></i>About </a>
              <% } %>
          
        </li>

         <% if (title=="My Projects") { %>
          <li class="nav-item active">
          <a class="nav-link active"  href="/projects"><i class="fa-solid fa-book fa-bounce"></i>Projects</a>
          <% } else { %>
        <li class="nav-item">
        <a class="nav-link"  href="/projects"><i class="fa-solid fa-book"></i>Projects</a>
          <% } %>
          
        </li>


         <%if(title=="My Services"){%>
          <li class="nav-item active">
          <a class="nav-link active"  href="/services"><i class="fa-solid fa-handshake fa-bounce"></i>Services</a>
          <% } else { %>
        <li class="nav-item">
        <a class="nav-link"  href="/services"><i class="fa-solid fa-handshake"></i>Services</a>
          <% } %>
          
        </li>

        <% if (title=="Contact Me") { %>
          <li class="nav-item active">
          <a class="nav-link active"  href="/contact"><i class="fa-solid fa-address-book fa-bounce"></i>Contact</a>
          <% } else { %>
        <li class="nav-item">
        <a class="nav-link"  href="/contact"><i class="fa-solid fa-address-book"></i>Contact</a>
          <% } %>
        </li>

        </ul>
        </b>
    </div>
  </div>
  <div class="topnav">
    <a href="/" class="active">H</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/services">Services</a>
      <a href="/contact">Contact</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</nav>